body{
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
.header {
  margin-left:-10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.boxLogo{
  grid-column: 1;
  grid-row: 1/3;
}
.logo{
  width: 18vw;
  height: 15vh;
}
.boxInfoHeader {
  grid-column: 3;
  grid-row: 1;
  background-color: white;
  color: black;
  border: none;
  font-size: 8px;
  text-align: right;
}

/* Premiere sous navbar */
.Help, .JoinUs{
  border: none;
  padding: 5px;
  background-color: yellow;
  margin-right: -2px;
}
.CurrentLang{
  border: none;
  padding: 5px;
  background-color: #00CDA9;
}
.boxNavbarHeader {
  grid-column: 2/4;
  grid-row: 2;
  background-color: white;
  color: black;
  border: none;
  text-align: right;
}
.button21, .button22, .button23, .button24{
  border: none;
  padding: 15px;
  background-color: white;
}
.button21{
  color: #D26E55;
}
.group-bottom-navbar{
  grid-column: 1/4;
  margin-left:-10px;
  margin-right: -10px;
  grid-row: 3;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EAEAEA;
  text-align: center;
}

.TryMontreal{
border: 1px solid #d4d2d2;
padding: 10px;
background-color: #F5F5F5;
text-align: left;
width: 170px;
height: 40px;
}
.Style, .Langue {
  
  margin-left: -5px;
  margin-right: -5px;
  border: 1px solid #d4d2d2;
  padding: 10px;
  background-color: #F5F5F5;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 40px;
  background: #F5F5F5 url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 70px center;
  background-size: 10px;
}
.Search{
  border: none;
  padding: 10px;
  background-color: #00CDA9;
  text-align: left;
  color: white;
  height: 40px;
}
input[name="start"]{
  border: 1px solid #d4d2d2;
  text-align: left;
  border-right: transparent;
  padding:10px;
  background: #F5F5F5 url("https://image.flaticon.com/icons/svg/545/545682.svg") no-repeat 70px center;
  background-size: 15px;
  color: black;
  width:100px;
  height: 40px;
  margin-right: -5px;
}
input[name="end"]{
  border: 1px solid #d4d2d2;  
  text-align: left;
  border-left: transparent;
  padding:10px;
  background: #F5F5F5;
  color: black;
  width:100px;
  height: 40px;
  margin-left: -5px;
  margin-right: -5px;
  background: #F5F5F5 url("https://d29fhpw069ctt2.cloudfront.net/icon/image/38308/preview.svg") no-repeat 70px center;
  background-size: 15px;
}
/* Boutton "Plus de filtre" */
.Filter{
  border: none;
  padding: 10px;
  background-color: transparent;
  color: black;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  width:110px;
  height: 40px;

}
.fa-plus{
  color: black;
}

/* Body du site  */
.body {
  margin-left:-10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.headerBody{
  border: none;
  margin-left: -10px;
  margin-right: -10px;
  height: 400px;
  width: 100vw;
}
.headerBodyPicture{
  height: 100%;
  width: 100%;
  background-image: url("../img/picture1.webp");
  background-size: 100%;
  
}
h1{
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 10%;
  margin-left: 25%;
  font-size: 2rem;
}

.inscription{
  border-radius: 25px;
  border: 1px solid #00CDA9;
  background-color: #00CDA9;
  color: white;
  position: absolute;
  z-index: 1;
  padding: 5px 20px 5px 20px;
  margin-top: 160px;
  margin-left: 43%
}
.picture{
  width: 100%;
  height: 350px;
}
.boxPictureBody{
  border: none;
}

.boxTextBody{
  padding:5%;
  height: 100px;;
}
/* Couleur de la police */
.purple-font{
  color: #524b8e;
  font-size: 22px;
  font-weight: bold;
}
.orange-font{
  color: #ec7346;
  font-size: 22px;
  font-weight: bold;
}
.blue-font{
  color: #00cda9;
  font-size: 22px;
  font-weight: bold;
}
.yellow-font{
  color: #ffd605;
  font-size: 22px;
  font-weight: bold;
}
.endBody{
  background-color: #ffd605;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left:-10px;
  margin-right: -10px;
}
input[type="text"]{  
  margin-left: 30px;
  padding: 10px;
  width: 300px;
  border: none;
}
.btnSubscribe{
  padding: 10px;
  background-color: #00cda9;
  color: white;
  border: none;
}
/* Footer de la page */
.footer{
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  margin-left:-10px;
  margin-right: -10px;
  background-color: #524b8e;
}
select{
  background-color: transparent;
  border: none;
}
.OrganizeBoxFooter1{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div > i{
  color: #00CDA9;
  display: inline;
}
h3{
  color: white;
  font-size:  14px;
}
.p-footer{
  color: white;
  text-align: left;
  font-size: 14px;
}
.boxTextFooter{  
  color: white;
  text-align: left;
  font-size: 14px;
}
.boxIconeFooter{
  color: #00CDA9;
  text-align: left;
  font-size: 14px;
}
.OrganizeBoxFooter3{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;

}
.endFooter{
  margin-left:-10px;
  margin-right: -10px;
  margin-bottom: -12px;
  background-color: #453f7f;
  color: white;
  font-size: 12px;
  padding: 5px 5px 5px 100px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
.logo{
  width: 30vmin ;
  height: 15vmin
}
.boxInfoHeader {
  grid-column: 3;
  grid-row: 1;
  background-color: white;
  color: black;
  border: none;
  text-align: right;
}

/* Premiere sous navbar */
.Help, .JoinUs{
  border: none;
  padding: 5px;
  background-color: yellow;
  margin-right: -2px;
  font-size: 2vmin;
}
.CurrentLang{
  border: none;
  padding: 5px;
  background-color: #00CDA9;
  font-size: 2vmin;
}
.boxNavbarHeader {
  grid-column: 2/4;
  grid-row: 2;
  background-color: white;
  color: black;
  border: none;
  text-align: right;
}
.button21, .button22, .button23, .button24{
  border: none;
  padding: 1vmin;
  background-color: white;
  font-size: 2vmin;
}
.group-bottom-navbar{
  grid-column: 1/4;
  margin-left:-10px;
  margin-right: -10px;
  grid-row: 3;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EAEAEA;
  text-align: center;
}

.TryMontreal{
border: 1px solid #d4d2d2;
background-color: #F5F5F5;
text-align: left;
width: 20vw;
height: 5vh;
margin-left: 5%;
font-size: 2vmin;
padding: 1vmin;
}
.Style, .Langue {
  
  margin-left: -5px;
  margin-right: -5px;
  border: 1px solid #d4d2d2;
  background-color: #F5F5F5;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15vw;
  height: 5vh;
  font-size: 2vmin;
  padding: 1vmin;
  background: #F5F5F5 url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 80% center;
  background-size: 1vmin;
}
.Search{
  border: none;
  background-color: #00CDA9;
  text-align: left;
  color: white;
  width: 15vw;
  height: 5vh;
  font-size: 2vmin;
  padding: 1vmin;
}
input[name="start"]{
  border: 1px solid #d4d2d2;
  text-align: left;
  border-right: transparent;
  background: #F5F5F5 url("https://image.flaticon.com/icons/svg/545/545682.svg") no-repeat 80% center;
  background-size: 3vmin;
  color: black;
  width: 15vw;
  height: 5vh;
  font-size: 2vmin;
  padding: 1vmin;
  margin-right: -5px;
}
input[name="end"]{
  border: 1px solid #d4d2d2;  
  text-align: left;
  border-left: transparent;
  padding:10px;
  background: #F5F5F5;
  color: black;
  width: 15vw;
  height: 5vh;
  font-size: 2vmin;
  padding: 1vmin;
  margin-left: -5px;
  margin-right: -5px;
  background: #F5F5F5 url("https://d29fhpw069ctt2.cloudfront.net/icon/image/38308/preview.svg") no-repeat 80% center;
  background-size: 3vmin;
}
/* Boutton "Plus de filtre" */
.Filter, .fa-plus{
  visibility: hidden;

}


/* Body du site  */
.body {
  margin-left:-10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 2;
}
.headerBody{
  border: none;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -370px;
  height: 30vh;
  width: 100vw;
}
.headerBodyPicture{
  background-repeat: no-repeat;
  z-index: 1;
}
h1{
  color: white;
  font-size: 5vmin;
  margin-left: 10%;
  z-index: 2;
}

.inscription{
  border-radius: 25px;
  border: 1px solid #00CDA9;
  background-color: #00CDA9;
  color: white;
  font-size: 3vmin;
  margin-top: 20%;
  margin-left: 35%;
}
.boxPictureBody{
  visibility: hidden;
}

.boxTextBody{
  padding:10%;
  margin-bottom: -150px;
}
/* Couleur de la police */
.purple-font{
  color: #524b8e;
  font-size: 18px;
  font-weight: bold;
}
.orange-font{
  color: #ec7346;
  font-size: 18px;
  font-weight: bold;
}
.blue-font{
  color: #00cda9;
  font-size: 18px;
  font-weight: bold;
}
.yellow-font{
  color: #ffd605;
  font-size: 18px;
  font-weight: bold;
}
.nowrap{
  white-space: nowrap;
}
.endBody{
  background-color: #ffd605;
  padding:  2px 20px 2px 20px;
  text-align: center;
}
/* Footer de la page */
.footer{
  padding: 10%;
  text-align: center;
  display: grid;
  grid-template-columns:  1fr;
  margin-left:-10px;
  margin-right: -10px;
  background-color: #524b8e;
}
.OrganizeBoxFooter1{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
}
.p-footer{
  color: white;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.boxTextFooter{  
  color: white;
  text-align: left;
  font-size: 14px;
}
.boxTextFooter2{  
  color: #00CDA9;
  text-align: left;
  font-size: 14px;
}
.boxIconeFooter{
  color: #00CDA9;
  text-align: right;
  font-size: 14px;
}
.endFooter{
  background-color: #453f7f;
  color: white;
  font-size: 12px;
  text-align: left;
}
}
